* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

header {
  margin-bottom: 20px;
}

.myprofile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  gap: 0;
  width: 100%;
}

.missions {
  width: 40vw;
  margin-right: 20px;
}

.rockets {
  width: 40vw;
  margin-left: 20px;
}

.missions p {
  margin: 0;
  padding: 10px;
  width: inherit;
  border: 1px solid rgb(226, 222, 222);
}

.rockets p {
  margin: 0;
  width: inherit;
  padding: 10px;
  border: 1px solid rgb(226, 222, 222);
}

.title {
  font-weight: 700;
  font-size: larger;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.title img {
  width: 35px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.header nav {
  color: rgb(109, 109, 228);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.link {
  padding-bottom: 5px;
  text-decoration: none;
}

.nav-hr {
  height: 10px;
  background-color: rgb(109, 109, 228);
  width: 1px;
}

.header-hr {
  margin: 0;
  width: 95vw;
  padding: 0;
  margin-left: 25px;
  margin-right: 25px;
  height: 1px;
  background-color: rgb(226, 222, 222);
  border: none;
}

.missionTable {
  padding: 30px;
}

.missionTable table {
  border-collapse: collapse;
  padding: 10px;
}

table tr:nth-child(even) { background-color: #f2f2f2; }

table tr:hover { background-color: #ddd; }

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: white;
  color: rgb(8, 8, 8);
}

.rocket-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  align-items: center;
  list-style: none;
  padding: 10px;
}

.rocket-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 10px;
  padding: 20px;
}

.rocket-container p {
  margin: 0;
  padding: 0;
}

.rocket-img {
  width: 17vw;
}

.rocket-btn {
  width: 10vw;
}

.reserved {
  padding: 4px;
  color: white;
  background-color: rgb(138, 138, 219);
  font-weight: bold;
  border-radius: 5px;
  font-size: small;
}

.reserved-rocket {
  background-color: rgb(5, 152, 250);
  padding: 5px;
  padding-bottom: 10px;
  padding-top: 10px;
  border: none;
  border-radius: 5px;
  color: white;
}

.reserved-rocket-nt {
  background-color: rgb(255, 255, 255);
  padding: 5px;
  padding-bottom: 10px;
  padding-top: 10px;
  border: 1px solid rgb(187, 183, 183);
  border-radius: 5px;
  color: rgb(187, 183, 183);
}

.joined-btn {
  width: 8vw;
  padding: 5px;
  border: 1px solid rgb(155, 153, 153);
  border-radius: 3px;
  color: rgb(155, 153, 153);
}

.leave-btn {
  width: 8vw;
  padding: 5px;
  border: 1px solid rgb(250, 63, 63);
  border-radius: 3px;
  color: rgb(250, 63, 63);
  background: white;
}

.member {
  width: 8vw;
  padding: 5px;
  background-color: #817c7c;
  border-radius: 2px;
  border: none;
  color: white;
}

.member-active {
  background-color: rgb(5, 152, 250);
}

.pending {
  border: none;
}

.active {
  border-bottom: 2px solid rgb(5, 152, 250);
}
